$red: #710808;
$green: #013e01;
$blue: #070769;
$yellow: #717108;
$black: black;
$sss: 150px;
$smCircle: 150px;
$bigCircle: 350px;

.red, .blue, .green, .yellow{
  width: 150px;
  height: 150px;
  float: left;
}
.red{
  background: $red;
  border-radius: $sss 0 0 0;
  margin-right: 10px;
  // &:hover{
  //   background: red;
  // }
}
.blue{
  background: $blue;
  border-radius: 0 0 0 $sss;
  margin-right: 10px;
  // &:hover{
  //   background: blue;
  // }
}
.green{
  background: $green;
  border-radius: 0 0 $sss 0;
  // &:hover{
  //   background: green;
  // }
}
.yellow{
  background: $yellow;
  border-radius: 0 $sss 0 0;
  margin-bottom: 10px;
  // &:hover{
  //   background: yellow;
  // }
}

.bigBlack {
  background: $black;
  width: $bigCircle;
  height: $bigCircle;
  border-radius: 50%;
  margin-left: -21px;
  margin-top: -18px;
}
.smallBlack{
  background: $black;
  width: $smCircle;
  height: $smCircle;
  border-radius: 50%;
  color: white;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: -230px;
  margin-left: 77px;
}