h1, .header{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.simonFont{
  font-family: 'Alfa Slab One', serif;
}
.container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
}
.current, .best{
  position: relative;
  display: inline-block;
  background: #aeaeb5;
  padding: 0px 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
.start{
  font-size: 1rem;
  a{
    color: #ccc;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}
.dot{
  background: #6f0a0a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
  margin-right: 55px;
  margin-top: 8px;
}