h1, .header{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.current, .best{
  position: relative;
  display: inline-block;
  background: #aeaeb5;
  padding: 0px 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.smallBlack{
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start{
  font-size: 1rem;
}
.dot{
  background: #6f0a0a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
  margin-right: 50px;
  margin-top: 8px;
}